# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.ipynb_checkpoints/
bm25-output/
bm25-sdm-output/
bm25-rm3-output/
bm25-multi-field-output
index/
iranthology-dataset-tira/